.small-button {
  border-radius: 20px;
  color: black;
  border: 0.01px solid;
  padding: 12px;
}

.small-button a {
  text-decoration: none;
  color: black;
}

.small-button:hover {
  background-color: #e8e6df;
}
